<!DOCTYPE html>
<style>
    *{
        margin:0;
        top:0;
        left:0;
    }
    body{
        color: rgba(255, 255, 255, 1);
        background-image:url('/static/images/backgroundimagetolist.jpg');
        background-repeat:no-repeat;
        background-position:center;
        background-size: cover;
        background-attachment: fixed;
     
    }
    ul{
        scroll-behavior: smooth;
        cursor: pointer;
    }
    nav{
        background-color:black;
        color:white;
        background-attachment: fixed;
        
    }
    nav h1{
        display: inline-block;
        margin-top:20px;
        cursor: pointer;
    }
    nav a{
        margin-left:72%;
        color: aliceblue;
        background-color: rgba(93, 0, 255, 1);
        padding: 15px;
        border-radius:15px;
        display: inline-block;
    }
    li:hover{
        background-color:rgba(93, 0, 255, 1);
        color:white;
        border-radius:10px;
        width: fit-content;
        padding:10px;
        transition-duration:250ms;
    }
</style>


<html lang="en">
<head>
    
    <title>images list trained</title>
</head>
<body>
    <nav>
        <h1>LIST OF NAME</h1>
        <a href="{{url_for('home')}}">HOME PAGE</a>
    </nav><br><br>
    <ul>
        
    <li>anemone_fish</li>
    <li>axolotl</li>
    <li>sea_anemone </li>
    <li>rock_beauty </li>
    <li>coral_reef </li>
    <li>greenhouse </li>
    <li>lionfish </li>
    <li>scuba_diver </li>
    <li>pinwheel </li>
    <li>tench </li>
    <li>cock </li>
    <li>hog </li>
    <li>hen </li>
    <li>grocery_store </li>
    <li>flamingo </li>
    <li>jellyfish </li>
    <li>chambered_nautilus </li>
    <li>hummingbird </li>
    <li>triceratops </li>
    <li>sea_urchin </li>
    <li>sulphur_butterfly </li>
    <li>power_drill </li>
    <li>car_wheel </li>
    <li>running_shoe </li>
    <li>starfish </li>
    <li>ringlet </li>
    <li>piggy_bank </li>
    <li>yellow_lady's_slipper </li>
    <li>puffer </li>
    <li>lorikeet </li>
    <li>monitor </li>
    <li>electric_ray </li>
    <li>quilt </li>
    <li>kit_fox </li>
    <li>jack-o'-lantern </li>
    <li>Norwich_terrier </li>
    <li>wombat </li>
    <li>Pekinese </li>
    <li>plate_rack </li>
    <li>Mexican_hairless </li>
    <li>brain_coral </li>
    <li>wool </li>
    <li>Chihuahua </li>
    <li>leatherback_turtle </li>
    <li>conch </li>
    <li>rapeseed </li>
    <li>barbell </li>
    <li>dingo </li>
    <li>sea_cucumber </li>
    <li>Lhasa </li>
    <li>thresher </li>
    <li>water_buffalo </li>
    <li>Great_Dane </li>
    <li>patio </li>
    <li>loggerhead </li>
    <li>red_fox </li>
    <li>black_swan </li>
    <li>picket_fence </li>
    <li>daisy </li>
    <li>oystercatcher </li>
    <li>chainlink_fence </li>
    <li>zucchini </li>
    <li>barrel </li>
    <li>carbonara </li>
    <li>Windsor_tie </li>
    <li>sea_slug </li>
    <li>safe </li>
    <li>giant_schnauzer </li>
    <li>toy_terrier </li>
    <li>screen </li>
    <li>volcano </li>
    <li>radio_telescope </li>
    <li>basenji </li>
    <li>thimble </li>
    <li>ox </li>
    <li>promontory </li>
    <li>Afghan_hound </li>
    <li>studio_couch </li>
    <li>corn </li>
    <li>English_setter </li>
    <li>espresso_maker </li>
    <li>monarch </li>
    <li>academic_gown </li>
    <li>Saluki </li>
    <li>cellular_telephone </li>
    <li>coil </li>
    <li>sidewinder </li>
    <li>doormat </li>
    <li>dome </li>
    <li>American_lobster </li>
    <li>house_finch </li>
    <li>bulbul </li>
    <li>stage </li>
    <li>barometer </li>
    <li>coral_fungus </li>
    <li>orange </li>
    <li>tub </li>
    <li>cabbage_butterfly </li>
    <li>plow </li>
    <li>Egyptian_cat </li>
    <li>table_lamp </li>
    <li>kimono </li>
    <li>isopod </li>
    <li>agama </li>
    <li>solar_dish </li>
    <li>refrigerator </li>
    <li>oxcart </li>
    <li>eel </li>
    <li>rotisserie </li>
    <li>cowboy_boot </li>
    <li>measuring_cup </li>
    <li>sulphur-crested_cockatoo </li>
    <li>handkerchief </li>
    <li>fire_screen </li>
    <li>worm_fence </li>
    <li>snail </li>
    <li>pill_bottle </li>
    <li>odometer </li>
    <li>comic_book </li>
    <li>desk </li>
    <li>bell_pepper </li>
    <li>barrow </li>
    <li>croquet_ball </li>
    <li>terrapin </li>
    <li>upright </li>
    <li>obelisk </li>
    <li>rock_python </li>
    <li>passenger_car </li>
    <li>gown </li>
    <li>pajama </li>
    <li>spotlight </li>
    <li>racer </li>
    <li>pick </li>
    <li>redshank </li>
    <li>black_grouse </li>
    <li>papillon </li>
    <li>Petri_dish </li>
    <li>red_wolf </li>
    <li>gyromitra </li>
    <li>reflex_camera </li>
    <li>muzzle </li>
    <li>partridge </li>
    <li>bucket </li>
    <li>sliding_door </li>
    <li>envelope </li>
    <li>prairie_chicken </li>
    <li>church </li>
    <li>traffic_light </li>
    <li>spoonbill </li>
    <li>rhinoceros_beetle </li>
    <li>hyena </li>
    <li>Model_T </li>
    <li>oxygen_mask </li>
    <li>golden_retriever </li>
    <li>Cardigan </li>
    <li>oil_filter </li>
    <li>common_iguana </li>
    <li>Doberman </li>
    <li>triumphal_arch </li>
    <li>trolleybus </li>
    <li>flat-coated_retriever </li>
    <li>cannon </li>
    <li>spiny_lobster </li>
    <li>Polaroid_camera </li>
    <li>space_heater </li>
    <li>trilobite </li>
    <li>Pembroke </li>
    <li>lens_cap </li>
    <li>bow </li>
    <li>suit </li>
    <li>crayfish </li>
    <li>Angora </li>
    <li>paddlewheel </li>
    <li>hartebeest </li>
    <li>wood_rabbit </li>
    <li>French_bulldog </li>
    <li>plate </li>
    <li>wok </li>
    <li>diamondback </li>
    <li>black-footed_ferret </li>
    <li>jean </li>
    <li>hornbill </li>
    <li>bullet_train </li>
    <li>overskirt </li>
    <li>lumbermill </li>
    <li>magnetic_compass </li>
    <li>minivan </li>
    <li>cinema </li>
    <li>book_jacket </li>
    <li>milk_can </li>
    <li>beacon </li>
    <li>bell_cote </li>
    <li>consomme </li>
    <li>balloon </li>
    <li>combination_lock </li>
    <li>backpack </li>
    <li>oscilloscope </li>
    <li>electric_locomotive </li>
    <li>harvestman </li>
    <li>eft </li>
    <li>capuchin </li>
    <li>web_site </li>
    <li>notebook </li>
    <li>horned_viper </li>
    <li>whiptail </li>
    <li>barn </li>
    <li>desktop_computer </li>
    <li>hamster </li>
    <li>Japanese_spaniel </li>
    <li>matchstick </li>
    <li>spider_monkey </li>
    <li>siamang </li>
    <li>water_snake </li>
    <li>hay </li>
    <li>marmoset </li>
    <li>crate </li>
    <li>Dutch_oven </li>
    <li>sorrel </li>
    <li>American_Staffordshire_terrier </li>
    <li>pineapple </li>
    <li>ballplayer </li>
    <li>coyote </li>
    <li>corkscrew </li>
    <li>agaric </li>
    <li>recreational_vehicle </li>
    <li>microwave </li>
    <li>red_wine </li>
    <li>electric_fan </li>
    <li>remote_control </li>
    <li>lakeside </li>
    <li>palace </li>
    <li>robin </li>
    <li>ping-pong_ball </li>
    <li>kelpie </li>
    <li>barracouta </li>
    <li>projector </li>
    <li>Border_collie </li>
    <li>hip </li>
    <li>cauliflower </li>
    <li>vase </li>
    <li>gas_pump </li>
    <li>clog </li>
    <li>cricket </li>
    <li>home_theater </li>
    <li>red-breasted_merganser </li>
    <li>butcher_shop </li>
    <li>cassette </li>
    <li>rain_barrel </li>
    <li>mobile_home </li>
    <li>French_loaf </li>
    <li>grand_piano </li>
    <li>nipple </li>
    <li>briard </li>
    <li>restaurant </li>
    <li>Newfoundland </li>
    <li>ski_mask </li>
    <li>grasshopper </li>
    <li>spaghetti_squash </li>
    <li>cicada </li>
    <li>dishrag </li>
    <li>macaw </li>
    <li>komondor </li>
    <li>tiger_beetle </li>
    <li>submarine </li>
    <li>maraca </li>
    <li>Pomeranian </li>
    <li>hermit_crab </li>
    <li>common_newt </li>
    <li>polecat </li>
    <li>pizza </li>
    <li>candle </li>
    <li>frilled_lizard </li>
    <li>mud_turtle </li>
    <li>washer </li>
    <li>parachute </li>
    <li>crib </li>
    <li>lifeboat </li>
    <li>abaya </li>
    <li>gar </li>
    <li>chiton </li>
    <li>Old_English_sheepdog </li>
    <li>mortarboard </li>
    <li>folding_chair </li>
    <li>digital_watch </li>
    <li>red-backed_sandpiper </li>
    <li>rugby_ball </li>
    <li>Gordon_setter </li>
    <li>baseball </li>
    <li>groom </li>
    <li>burrito </li>
    <li>trifle </li>
    <li>valley </li>
    <li>standard_schnauzer </li>
    <li>sandbar </li>
    <li>brass </li>
    <li>cardoon </li>
    <li>Norfolk_terrier </li>
    <li>torch </li>
    <li>jinrikisha </li>
    <li>bighorn </li>
    <li>Weimaraner </li>
    <li>minibus </li>
    <li>ruffed_grouse </li>
    <li>guillotine </li>
    <li>window_screen </li>
    <li>gibbon </li>
    <li>indri </li>
    <li>dhole </li>
    <li>digital_clock </li>
    <li>keeshond </li>
    <li>meat_loaf </li>
    <li>pop_bottle </li>
    <li>butternut_squash </li>
    <li>cardigan </li>
    <li>electric_guitar </li>
    <li>knot </li>
    <li>ambulance </li>
    <li>lycaenid </li>
    <li>Sussex_spaniel </li>
    <li>Bouvier_des_Flandres </li>
    <li>skunk </li>
    <li>dung_beetle </li>
    <li>redbone </li>
    <li>pencil_sharpener </li>
    <li>lion </li>
    <li>binder </li>
    <li>sturgeon </li>
    <li>stinkhorn </li>
    <li>coffeepot </li>
    <li>waffle_iron </li>
    <li>bloodhound </li>
    <li>langur </li>
    <li>quill </li>
    <li>tray </li>
    <li>cleaver </li>
    <li>wild_boar </li>
    <li>stingray </li>
    <li>sweatshirt </li>
    <li>shower_curtain </li>
    <li>whippet </li>
    <li>airship </li>
    <li>rock_crab </li>
    <li>lighter </li>
    <li>ski </li>
    <li>washbasin </li>
    <li>African_hunting_dog </li>
    <li>cab </li>
    <li>jaguar </li>
    <li>Airedale </li>
    <li>space_bar </li>
    <li>bulletproof_vest </li>
    <li>rocking_chair </li>
    <li>English_foxhound </li>
    <li>pedestal </li>
    <li>school_bus </li>
    <li>radio </li>
    <li>poncho </li>
    <li>Greater_Swiss_Mountain_dog </li>
    <li>bolo_tie </li>
    <li>grey_whale </li>
    <li>ladybug </li>
    <li>confectionery </li>
    <li>American_coot </li>
    <li>tiger_shark </li>
    <li>abacus </li>
    <li>cassette_player </li>
    <li>custard_apple </li>
    <li>space_shuttle </li>
    <li>Bedlington_terrier </li>
    <li>stupa </li>
    <li>printer </li>
    <li>altar </li>
    <li>street_sign </li>
    <li>limousine </li>
    <li>groenendael </li>
    <li>earthstar </li>
    <li>cowboy_hat </li>
    <li>koala </li>
    <li>hand_blower </li>
    <li>chest </li>
    <li>wreck </li>
    <li>West_Highland_white_terrier </li>
    <li>jackfruit </li>
    <li>admiral </li>
    <li>bannister </li>
    <li>bath_towel </li>
    <li>tabby </li>
    <li>cucumber </li>
    <li>toucan </li>
    <li>Loafer </li>
    <li>ruddy_turnstone </li>
    <li>head_cabbage </li>
    <li>binoculars </li>
    <li>dugong </li>
    <li>dam </li>
    <li>radiator </li>
    <li>proboscis_monkey </li>
    <li>flatworm </li>
    <li>wine_bottle </li>
    <li>armadillo </li>
    <li>bikini </li>
    <li>ram </li>
    <li>toyshop </li>
    <li>lab_coat </li>
    <li>tripod </li>
    <li>bassinet </li>
    <li>yurt </li>
    <li>file </li>
    <li>hammerhead </li>
    <li>china_cabinet </li>
    <li>moving_van </li>
    <li>long-horned_beetle </li>
    <li>microphone </li>
    <li>German_short-haired_pointer </li>
    <li>bull_mastiff </li>
    <li>loudspeaker </li>
    <li>titi </li>
    <li>castle </li>
    <li>black_widow </li>
    <li>mountain_bike </li>
    <li>dining_table </li>
    <li>bubble </li>
    <li>bald_eagle </li>
    <li>whistle </li>
    <li>Gila_monster </li>
    <li>Persian_cat </li>
    <li>snowmobile </li>
    <li>window_shade </li>
    <li>bee </li>
    <li>wing </li>
    <li>wig </li>
    <li>wire-haired_fox_terrier </li>
    <li>sock </li>
    <li>African_crocodile </li>
    <li>Komodo_dragon </li>
    <li>dowitcher </li>
    <li>fountain </li>
    <li>sombrero </li>
    <li>Rottweiler </li>
    <li>macaque </li>
    <li>brambling </li>
    <li>grey_fox </li>
    <li>parallel_bars </li>
    <li>maillot </li>
    <li>European_gallinule </li>
    <li>alp </li>
    <li>guinea_pig </li>
    <li>stone_wall </li>
    <li>scoreboard </li>
    <li>steel_arch_bridge </li>
    <li>Brittany_spaniel </li>
    <li>steel_drum </li>
    <li>Leonberg </li>
    <li>hand-held_computer </li>
    <li>organ </li>
    <li>bee_eater </li>
    <li>mailbox </li>
    <li>Kerry_blue_terrier </li>
    <li>neck_brace </li>
    <li>broom </li>
    <li>menu </li>
    <li>photocopier </li>
    <li>Yorkshire_terrier </li>
    <li>pole </li>
    <li>cradle </li>
    <li>garbage_truck </li>
    <li>Tibetan_terrier </li>
    <li>chiffonier </li>
    <li>manhole_cover </li>
    <li>sarong </li>
    <li>paddle </li>
    <li>bib </li>
    <li>mask </li>
    <li>otterhound </li>
    <li>purse </li>
    <li>military_uniform </li>
    <li>warthog </li>
    <li>junco </li>
    <li>seashore </li>
    <li>African_chameleon </li>
    <li>Great_Pyrenees </li>
    <li>three-toed_sloth </li>
    <li>wallaby </li>
    <li>plastic_bag </li>
    <li>tank </li>
    <li>violin </li>
    <li>killer_whale </li>
    <li>jersey </li>
    <li>pencil_box </li>
    <li>snow_leopard </li>
    <li>miniature_pinscher </li>
    <li>bathtub </li>
    <li>chow </li>
    <li>planetarium </li>
    <li>king_snake </li>
    <li>wallet </li>
    <li>cliff </li>
    <li>shoe_shop </li>
    <li>banded_gecko </li>
    <li>teddy </li>
    <li>bearskin </li>
    <li>bookcase </li>
    <li>laptop </li>
    <li>chickadee </li>
    <li>vulture </li>
    <li>saltshaker </li>
    <li>bakery </li>
    <li>sandal </li>
    <li>coucal </li>
    <li>revolver </li>
    <li>slot </li>
    <li>park_bench </li>
    <li>half_track </li>
    <li>pickelhaube </li>
    <li>curly-coated_retriever </li>
    <li>Norwegian_elkhound </li>
    <li>feather_boa </li>
    <li>vizsla </li>
    <li>hard_disc </li>
    <li>fire_engine </li>
    <li>spider_web </li>
    <li>cocker_spaniel </li>
    <li>silky_terrier </li>
    <li>mousetrap </li>
    <li>swab </li>
    <li>espresso </li>
    <li>hamper </li>
    <li>shopping_basket </li>
    <li>sunscreen </li>
    <li>sea_snake </li>
    <li>chain_saw </li>
    <li>echidna </li>
    <li>dough </li>
    <li>stethoscope </li>
    <li>pot </li>
    <li>library </li>
    <li>four-poster </li>
    <li>typewriter_keyboard </li>
    <li>monastery </li>
    <li>potpie </li>
    <li>water_bottle </li>
    <li>Irish_wolfhound </li>
    <li>limpkin </li>
    <li>breastplate </li>
    <li>shoji </li>
    <li>white_wolf </li>
    <li>Ibizan_hound </li>
    <li>cougar </li>
    <li>strainer </li>
    <li>tiger </li>
    <li>fox_squirrel </li>
    <li>Tibetan_mastiff </li>
    <li>Eskimo_dog </li>
    <li>ringneck_snake </li>
    <li>water_ouzel </li>
    <li>cairn </li>
    <li>nail </li>
    <li>African_grey </li>
    <li>sewing_machine </li>
    <li>hammer </li>
    <li>moped </li>
    <li>motor_scooter </li>
    <li>throne </li>
    <li>trailer_truck </li>
    <li>sports_car </li>
    <li>slug </li>
    <li>cockroach </li>
    <li>packet </li>
    <li>German_shepherd </li>
    <li>swing </li>
    <li>jay </li>
    <li>boathouse </li>
    <li>white_stork </li>
    <li>car_mirror </li>
    <li>can_opener </li>
    <li>crane </li>
    <li>tricycle </li>
    <li>Staffordshire_bullterrier </li>
    <li>mongoose </li>
    <li>shower_cap </li>
    <li>Australian_terrier </li>
    <li>llama </li>
    <li>pelican </li>
    <li>vault </li>
    <li>hoopskirt </li>
    <li>miniature_poodle </li>
    <li>collie </li>
    <li>maillot </li>
    <li>jacamar </li>
    <li>vestment </li>
    <li>acoustic_guitar </li>
    <li>lawn_mower </li>
    <li>umbrella </li>
    <li>wall_clock </li>
    <li>seat_belt </li>
    <li>Maltese_dog </li>
    <li>colobus </li>
    <li>ground_beetle </li>
    <li>maze </li>
    <li>sloth_bear </li>
    <li>fiddler_crab </li>
    <li>cliff_dwelling </li>
    <li>Boston_bull </li>
    <li>pickup </li>
    <li>accordion </li>
    <li>American_black_bear </li>
    <li>volleyball </li>
    <li>flagpole </li>
    <li>gorilla </li>
    <li>harmonica </li>
    <li>coho </li>
    <li>warplane </li>
    <li>barn_spider </li>
    <li>Scotch_terrier </li>
    <li>lesser_panda </li>
    <li>European_fire_salamander </li>
    <li>water_jug </li>
    <li>steam_locomotive </li>
    <li>mashed_potato </li>
    <li>lacewing </li>
    <li>megalith </li>
    <li>sea_lion </li>
    <li>harvester </li>
    <li>garter_snake </li>
    <li>fur_coat </li>
    <li>horizontal_bar </li>
    <li>tusker </li>
    <li>mountain_tent </li>
    <li>pillow </li>
    <li>ibex </li>
    <li>holster </li>
    <li>loupe </li>
    <li>affenpinscher </li>
    <li>mosquito_net </li>
    <li>goldfinch </li>
    <li>hippopotamus </li>
    <li>cash_machine </li>
    <li>switch </li>
    <li>plane </li>
    <li>shovel </li>
    <li>Siberian_husky </li>
    <li>bullfrog </li>
    <li>lynx </li>
    <li>Arctic_fox </li>
    <li>police_van </li>
    <li>frying_pan </li>
    <li>assault_rifle </li>
    <li>tobacco_shop </li>
    <li>Rhodesian_ridgeback </li>
    <li>geyser </li>
    <li>swimming_trunks </li>
    <li>strawberry </li>
    <li>Blenheim_spaniel </li>
    <li>thatch </li>
    <li>meerkat </li>
    <li>chimpanzee </li>
    <li>hognose_snake </li>
    <li>Scottish_deerhound </li>
    <li>mitten </li>
    <li>cocktail_shaker </li>
    <li>ice_bear </li>
    <li>dalmatian </li>
    <li>trench_coat </li>
    <li>cuirass </li>
    <li>snorkel </li>
    <li>box_turtle </li>
    <li>apiary </li>
    <li>beaker </li>
    <li>leopard </li>
    <li>racket </li>
    <li>entertainment_center </li>
    <li>gazelle </li>
    <li>mouse </li>
    <li>bicycle-built-for-two </li>
    <li>squirrel_monkey </li>
    <li>breakwater </li>
    <li>great_grey_owl </li>
    <li>broccoli </li>
    <li>goose </li>
    <li>jigsaw_puzzle </li>
    <li>guacamole </li>
    <li>bluetick </li>
    <li>bobsled </li>
    <li>trimaran </li>
    <li>dock </li>
    <li>perfume </li>
    <li>scorpion </li>
    <li>hourglass </li>
    <li>Shetland_sheepdog </li>
    <li>beer_bottle </li>
    <li>scabbard </li>
    <li>goblet </li>
    <li>pomegranate </li>
    <li>marmot </li>
    <li>green_mamba </li>
    <li>marimba </li>
    <li>malamute </li>
    <li>bonnet </li>
    <li>guenon </li>
    <li>carousel </li>
    <li>magpie </li>
    <li>spotted_salamander </li>
    <li>soft-coated_wheaten_terrier </li>
    <li>bagel </li>
    <li>cloak </li>
    <li>mortar </li>
    <li>nematode </li>
    <li>bow_tie </li>
    <li>airliner </li>
    <li>thunder_snake </li>
    <li>king_crab </li>
    <li>Irish_setter </li>
    <li>unicycle </li>
    <li>Christmas_stocking </li>
    <li>rubber_eraser </li>
    <li>hot_pot </li>
    <li>jeep </li>
    <li>syringe </li>
    <li>weevil </li>
    <li>grille </li>
    <li>drake </li>
    <li>dumbbell </li>
    <li>soup_bowl </li>
    <li>missile </li>
    <li>container_ship </li>
    <li>clumber </li>
    <li>toy_poodle </li>
    <li>tennis_ball </li>
    <li>leafhopper </li>
    <li>hook </li>
    <li>rule </li>
    <li>convertible </li>
    <li>Labrador_retriever </li>
    <li>tile_roof </li>
    <li>kuvasz </li>
    <li>iPod </li>
    <li>black_and_gold_garden_spider </li>
    <li>zebra </li>
    <li>Irish_water_spaniel </li>
    <li>schooner </li>
    <li>pug </li>
    <li>night_snake </li>
    <li>Walker_hound </li>
    <li>great_white_shark </li>
    <li>carpenter's_kit </li>
    <li>standard_poodle </li>
    <li>banjo </li>
    <li>crash_helmet </li>
    <li>reel </li>
    <li>bittern </li>
    <li>leaf_beetle </li>
    <li>ice_lolly </li>
    <li>indigo_bunting </li>
    <li>hair_slide </li>
    <li>artichoke </li>
    <li>prison </li>
    <li>birdhouse </li>
    <li>mantis </li>
    <li>punching_bag </li>
    <li>Granny_Smith </li>
    <li>ear </li>
    <li>tiger_cat </li>
    <li>drilling_platform </li>
    <li>patas </li>
    <li>fountain_pen </li>
    <li>barbershop </li>
    <li>rifle </li>
    <li>screwdriver </li>
    <li>turnstile </li>
    <li>damselfly </li>
    <li>theater_curtain </li>
    <li>black_stork </li>
    <li>safety_pin </li>
    <li>fly </li>
    <li>bison </li>
    <li>amphibian </li>
    <li>coffee_mug </li>
    <li>Lakeland_terrier </li>
    <li>harp </li>
    <li>Crock_Pot </li>
    <li>African_elephant </li>
    <li>stove </li>
    <li>mushroom </li>
    <li>peacock </li>
    <li>ocarina </li>
    <li>velvet </li>
    <li>liner </li>
    <li>ptarmigan </li>
    <li>boa_constrictor </li>
    <li>tractor </li>
    <li>pier </li>
    <li>vending_machine </li>
    <li>slide_rule </li>
    <li>borzoi </li>
    <li>Indian_cobra </li>
    <li>beach_wagon </li>
    <li>howler_monkey </li>
    <li>gasmask </li>
    <li>tape_player </li>
    <li>barber_chair </li>
    <li>bathing_cap </li>
    <li>disk_brake </li>
    <li>impala </li>
    <li>dogsled </li>
    <li>wardrobe </li>
    <li>American_alligator </li>
    <li>ant </li>
    <li>crutch </li>
    <li>viaduct </li>
    <li>mosque </li>
    <li>hen-of-the-woods </li>
    <li>crane </li>
    <li>fig </li>
    <li>Sealyham_terrier </li>
    <li>basset </li>
    <li>kite </li>
    <li>ashcan </li>
    <li>miniskirt </li>
    <li>lipstick </li>
    <li>horse_cart </li>
    <li>iron </li>
    <li>hotdog </li>
    <li>snowplow </li>
    <li>suspension_bridge </li>
    <li>caldron </li>
    <li>sleeping_bag </li>
    <li>hair_spray </li>
    <li>pitcher </li>
    <li>Italian_greyhound </li>
    <li>catamaran </li>
    <li>pool_table </li>
    <li>puck </li>
    <li>streetcar </li>
    <li>bottlecap </li>
    <li>dragonfly </li>
    <li>computer_keyboard </li>
    <li>Shih-Tzu </li>
    <li>Irish_terrier </li>
    <li>porcupine </li>
    <li>freight_car </li>
    <li>otter </li>
    <li>CD_player </li>
    <li>giant_panda </li>
    <li>tarantula </li>
    <li>black-and-tan_coonhound </li>
    <li>platypus </li>
    <li>Indian_elephant </li>
    <li>little_blue_heron </li>
    <li>chime </li>
    <li>parking_meter </li>
    <li>chain </li>
    <li>water_tower </li>
    <li>panpipe </li>
    <li>prayer_rug </li>
    <li>apron </li>
    <li>totem_pole </li>
    <li>ice_cream </li>
    <li>toaster </li>
    <li>chain_mail </li>
    <li>medicine_chest </li>
    <li>mixing_bowl </li>
    <li>fireboat </li>
    <li>screw </li>
    <li>hare </li>
    <li>garden_spider </li>
    <li>Samoyed </li>
    <li>pay-phone </li>
    <li>wolf_spider </li>
    <li>carton </li>
    <li>potter's_wheel </li>
    <li>golf_ball </li>
    <li>hatchet </li>
    <li>speedboat </li>
    <li>cheetah </li>
    <li>alligator_lizard </li>
    <li>television </li>
    <li>beagle </li>
    <li>gong </li>
    <li>brassiere </li>
    <li>acorn_squash </li>
    <li>orangutan </li>
    <li>paintbrush </li>
    <li>American_chameleon </li>
    <li>green_snake </li>
    <li>Band_Aid </li>
    <li>weasel </li>
    <li>king_penguin </li>
    <li>cup </li>
    <li>letter_opener </li>
    <li>paper_towel </li>
    <li>sunglass </li>
    <li>knee_pad </li>
    <li>Madagascar_cat </li>
    <li>lampshade </li>
    <li>basketball </li>
    <li>eggnog </li>
    <li>cello </li>
    <li>lemon </li>
    <li>balance_beam </li>
    <li>boxer </li>
    <li>tree_frog </li>
    <li>miniature_schnauzer </li>
    <li>soap_dispenser </li>
    <li>padlock </li>
    <li>toilet_seat </li>
    <li>Bernese_mountain_dog </li>
    <li>football_helmet </li>
    <li>Border_terrier </li>
    <li>yawl </li>
    <li>pirate </li>
    <li>badger </li>
    <li>EntleBucher </li>
    <li>ladle </li>
    <li>projectile </li>
    <li>canoe </li>
    <li>Dandie_Dinmont </li>
    <li>sundial </li>
    <li>Arabian_camel </li>
    <li>gondola </li>
    <li>whiskey_jug </li>
    <li>French_horn </li>
    <li>crossword_puzzle </li>
    <li>forklift </li>
    <li>schipperke </li>
    <li>bookshop </li>
    <li>tailed_frog </li>
    <li>brown_bear </li>
    <li>cheeseburger </li>
    <li>golfcart </li>
    <li>vine_snake </li>
    <li>tow_truck </li>
    <li>diaper </li>
    <li>walking_stick </li>
    <li>toilet_tissue </li>
    <li>sunglasses </li>
    <li>mink </li>
    <li>bassoon </li>
    <li>trombone </li>
    <li>Saint_Bernard </li>
    <li>quail </li>
    <li>Appenzeller </li>
    <li>lotion </li>
    <li>Chesapeake_Bay_retriever </li>
    <li>green_lizard </li>
    <li>Siamese_cat </li>
    <li>beer_glass </li>
    <li>plunger </li>
    <li>centipede </li>
    <li>stopwatch </li>
    <li>go-kart </li>
    <li>baboon </li>
    <li>joystick </li>
    <li>shopping_cart </li>
    <li>dishwasher </li>
    <li>English_springer </li>
    <li>timber_wolf </li>
    <li>soccer_ball </li>
    <li>acorn </li>
    <li>albatross </li>
    <li>Brabancon_griffon </li>
    <li>cornet </li>
    <li>modem </li>
    <li>malinois </li>
    <li>American_egret </li>
    <li>spatula </li>
    <li>pretzel </li>
    <li>spindle </li>
    <li>necklace </li>
    <li>flute </li>
    <li>maypole </li>
    <li>shield </li>
    <li>Dungeness_crab </li>
    <li>banana </li>
    <li>aircraft_carrier </li>
    <li>dial_telephone </li>
    <li>sax </li>
    <li>analog_clock </li>
    <li>beaver </li>
    <li>mailbag </li>
    <li>Welsh_springer_spaniel </li>
    <li>drumstick </li>
    <li>buckle </li>
    <li>ballpoint </li>
    <li>bolete </li>
    <li>honeycomb </li>
    <li>drum </li>
    <li>wooden_spoon </li>
    <li>vacuum </li>
    <li>ostrich </li>
    <li>bustard </li>
    <li>teapot </li>
    <li>scale </li>
    <li>buckeye </li>
    <li>stretcher </li>
    <li>chocolate_sauce </li>
    <li>stole </li>
    <li>oboe</li>
    <li>face_powder</li>
    <li>tick</li>
    </ul>
</body>
</html>